@media (min-width: 600px)  {
    body {
        background-color: #EEE !important;
    }

    .content {
       max-width: 600px;
       margin: auto;
       border-radius: 20px;
       margin-bottom: 15px;
       padding: 10px 10px 10px 10px;
    }

    .header {
       background-color: rgb(238,<200b> 238,<200b> 238);
       margin: auto;
       position: relative !important; 
       margin-bottom: 15px;
    }

    #page  {
        background: #EEE !important;
        height: 100% !important;
    }

}
