/*
	STYLE
*/
.mm-menu {
    background: #220011 !important;
    color: rgba(255, 255, 255, 0.8) ;
}
input[type=button] {
    font-family: FontAwesome, Arial;
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1em;
    padding:8px 17px;
    text-decoration:none;
}
input[type=button]:disabled {
    background-color:#dddddd;
    border:1px solid #eeeeee;
}
.conf_section
{
    display:none;
    background: #EEE;
}
#page {
    background: #EEE;
    height: 100%;
}
.content 
{
    padding: 60px 0 0 0;
}
.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #777;
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
	line-height: 60px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 60px;
	padding: 0 50px;
}
.header.fixed
{
	/*position: fixed;*/
	top: 0;
	left: 0;
    z-index:100000;
}

.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 10px;
}
#first_view 
{
    text-align: left;
    
}


.title_page {
    text-align: center;
    font-size: 1.3em;
}

.title_subpage {
    text-align: center;
    font-size: 1.2em;

}


hr {
    width: 40%;
    color: #555;
    margin-bottom: 10px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

body
{
	background: #5BC5FF;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	line-height: 22px;
	-webkit-text-size-adjust: none;
}

p, ul, ol, blockquote
{
	margin: 0 0 22px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #fff;
	text-decoration: underline;
}

select,
input[type="text"], input[type="password"]
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: none;
	border-radius: 20px;
	text-transform: none;
	vertical-align: middle;
	line-height: 20px;
	display: block;
	height: 30px;
	padding: 5px 10px;
	display:inline-block;
	margin-bottom: 5px;
}


:first-child
{
	margin-top: 0;
}
:last-child
{
	margin-bottom: 0;
}


/*
	MENU
*/
#menu:not(.mm-menu)
{
	display: none;
}
#menu .fa
{
	width: 15px;
	color: #ccc;
}


.fa {
    margin-left: 3px;
    margin-right: 3px;
}

#mm-blocker
{
	/*background: rgba( 91, 197, 255, 0 );*/
	background: rgba( 0, 0, 0, 0 );
}

html, body
{
	padding: 0;
	margin: 0;
    height: 100%;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 0.9em;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
p
{
	margin: 20px 10px 10px 10px !important;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

/*
  IOS Button
*/
input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}
